{{> /include/start }}   
<link rel="stylesheet"  href="/lib/css/lightslider.css"/>
<script type="text/javascript">
 $(function(){
var vi = 52;  // 하단에 메뉴 표시할 스크롤 위치값 지정
$(window).scroll(function(){
   var num = $(window).scrollTop();
          if( num > vi ){
                $(".scrollmenu").fadeIn(150);
           }else{
                $(".scrollmenu").fadeOut(0); }    
		});    
	});
// display:none; (html)    position:fixed; (CSS)

 $(document).ready(function() {
    $('.content-slider').lightSlider({
				item:3,
				slideMove:1,
                loop:true,
                keyPress:true,
				speed:1000,
				pause:3000,
				auto:true,
				pager: false,
				pauseOnHover:true
    });  
  });
	
</script>
<body scroll=auto style="overflow-x:hidden">

	<!-- scrollmenu start -->
		{{> include/menubar }}
	<!-- scrollmenuBar -->
		<div style="width:100%; height:100%;" > <!--strat -->
		<div style="width:100%; height:900px; margin:0 auto; text-align : center; background-color:black;">
		<div class="ramainimg" style="width:2200px; height:900px; position:relative; width:2200px; left:50%; margin-left:-1100px;" > 
		<img src="/data/main/mainimg01.png" width="100%" height="100%"> </div> 
		</div><!--main img -->
		 
		<div style="width:100%; height:110px;"> </div> <!--blank1 -->
		 
		<div style="width:1000px; height:300px; margin:0 auto;">
			<a href="#"><img src="/data/main/img1.png"> 
			</a> </div> <!--img1-->
		<div style="width:100%; height:110px;"> </div> <!--blank2 -->
		 
		<div style="width:1000px; height:220px; solid; margin:0 auto; border-top:1px #aaaaaa solid; border-bottom:1px #aaaaaa solid;"> <!--lightslider-->
	
<div class="demo" style="margin:0 auto;"> 
	<div class="item" style="margin:0 auto;">

 <ul name="content-slider" class="content-slider">
                <li>
                    <h3><img src="/data/main/scroll01.png" width="320px" height="180px;"></h3>
                </li>
                <li>
                    <h3><img src="/data/main/scroll02.png" width="320px" height="180px"></h3>
                </li>
                <li>
                    <h3><img src="/data/main/scroll03.png" width="320px" height="180px"></h3>
                </li>
                <li>
                    <h3><img src="/data/main/scroll04.png" width="320px" height="180px"></h3>
                </li>
                <li>
                    <h3><img src="/data/main/scroll05.png" width="320px" height="180px"></h3>
                </li>
                <li>
                    <h3><img src="/data/main/scroll06.png" width="320px" height="180px"></h3>
                </li>
				<li>
                    <h3><img src="/data/main/scroll07.png" width="320px" height="180px"></h3>
                </li>
            </ul>
			
        </div>
    </div>		
</div>

{{> /include/footer }}